@model IEnumerable<UserStoryApp.Models.Story>

@{
    ViewBag.Title = "Details";
}

<h2>Details for Narrative '@Model.First().Parent.Narrative'</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { parentId = Model.First().Parent.Id }, null)
    @Html.Raw(" | ")
    @*@Html.ActionLink("Back", "Details", new { parentId = Model.First().Parent.Id, leafNodes = false })*@
    @Html.ActionLink("Back", "Details", new {id = Model.First().Parent.Id, leafNodes = false })
    @Html.Raw(" | ")
    @Html.ActionLink("Home", "../Home/Index")
</p>

<table>
    <tr>
        <th>
            @Html.LabelFor(model => Model.First().Id)
        </th>
        <th>
            @Html.LabelFor(model => Model.First().Narrative)
        </th>
        <th>
            @Html.LabelFor(model => Model.First().Priority)
        </th>
        <th>
            @Html.LabelFor(model => Model.First().Estimate)
        </th>
    </tr>
    
        @foreach (var item in Model)
        {    
            <tr>
            <td>
                @Html.DisplayFor(model => item.Id)
            </td>
            <td>
                @Html.DisplayFor(model => item.Narrative)
            </td>
            <td>
                @Html.DisplayFor(model => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(model => item.Estimate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @if (item.HasChildren())
                {
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                }
                else
                {
                    @Html.ActionLink("Create New Child", "Create", new { parentId = item.Id }, null) 
                    @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
            </tr>
        }
</table>

<h5>@Model.Count() item(s)</h5>
